<nav class="navbar navbar-expand-lg bg-body-light border-bottom navbar-categories" style="z-index: 2;">
    <div class="collapse navbar-collapse nav-div" >
      <div class="navbar-nav filters">
        <a class="nav-link filter" aria-current="page" href="#" style="flex-grow: 1;">
          <i class="fa-solid fa-fire"></i>
          <p>Trending</p>
        </a>
        <a class="nav-link filter" href="#">
          <i class="fa-solid fa-bed"></i>
          <p>Rooms</p>
       </a>
        <a class="nav-link filter" href="#">
          <i class="fa-solid fa-mountain-city"></i>
          <p>Iconic CIties</p>
        </a>
        <a class="nav-link filter" href="#">
          <i class="fa-solid fa-mountain"></i>
          <p>Moutains</p>
        </a>
        <a class="nav-link filter" href="#">
          <i class="fa-brands fa-fort-awesome"></i>
          <p>Casles</p>
        </a>
        <a class="nav-link filter" href="#">
          <i class="fa-solid fa-person-swimming"></i>
          <p>Amazing Pools</p>
        </a>
        <a class="nav-link filter" href="#">
          <i class="fa-solid fa-campground"></i>
          <p>Camping</p>
        </a>
        <a class="nav-link filter" href="#">
          <i class="fa-solid fa-tractor"></i>
          <p>Farm</p>
        </a>
        <a class="nav-link filter" href="#" style="flex-grow: 1;">
          <i class="fa-solid fa-snowflake"></i>
          <p>Arctic</p>
        </a>
        <!-- <div class="nav-link tax-toggle ">
          <div class="form-check-reverse form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
          </div>
       </div> -->
       
      </div>
    </div>
  </div>
  
</nav>