<% layout("/layouts/boilerplate") %>
<style>
    #filters{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .filter{
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
    }
    
    .filter:hover{
        opacity: 1;
        cursor:pointer;
    }
    .filter p {
        font-size: 0.8rem;
    }
    .tax-info{
        display: none;
    }
    .tax-toggle{
        border: black 1px solid;
        border-radius: 1rem;
        height: 3rem;
        padding: 1rem;
        margin-left: 6rem;
        display: flex;
        align-items: center;
    }
</style>
<body>
    <div id="filters">
        <div class="filter">
            <i class="fa-solid fa-fire"></i>
            <p>Trending</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-bed"></i>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-mountain-city"></i>
            <p>Iconic CIties</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-mountain"></i>
            <p>Moutains</p>
        </div>
        <div class="filter">
            <i class="fa-brands fa-fort-awesome"></i>
            <p>Casles</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-person-swimming"></i>
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-campground"></i>
            <p>Camping</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-tractor"></i>
            <p>Farm</p>
        </div>
        <div class="filter">
            <i class="fa-solid fa-snowflake"></i>
            <p>Arctic</p>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
            </div>
        </div>
        
    </div>
    <!-- <h1>All Listings</h1> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <%   for(let listing of allListing){%>
            <a class="a-card" href="/listings/<%= listing._id %>">
                <div class="card listing-card" style="width: 18rem;">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_img" style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text">
                        <b> <%= listing.title %> <br></b>
                         &nbsp;&nbsp;<%= listing.price.toLocaleString("en-IN") %> / night
                         <i class="tax-info"> &nbsp; &nbsp; + 18% GST</i>
                      </p>
                    </div>
                </div>
            
            </a>
            
        <%  }%>

    </div>

    
    
</body>


<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click",()=>{
        let info = document.getElementsByClassName("tax-info");
        
        for(i of info){
            if(i.style.display !== "inline"){
                i.style.display = "inline";
            }else{
                i.style.display = "none";
            }
            
        }
    })
</script>